.icon_box{}
.icon_box:hover{}
.icon_box i{font-size: 50px; line-height: 50px;}
.icon_box .text{margin-top: 25px; margin-left: 0; margin-right: 0;}
.icon_box:hover .text{color:#fff !important;}


.hover_wrapper{padding: 50px 0; position: relative; /* background-color:red; */ }
.icon_box .hover_wrapper:hover{}                
.hover_wrapper:hover i{color:#fff !important;}                    